* {
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}
/*
.main-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-width: 50%;
	min-height: 50%;
	background-color: #fff8d1;
}

*/

.main-container {
	display: ;
	width: 60%;
	margin: 0 auto;
	padding: 0 20%;
	background-color: #faffef;
}



header {
	background: #fff;
	text-align: center;
	width: 100%;
	padding: 5% 0;
	color: #777;

}



p {
	font-style: italic;
	font-size: .750rem;
	font-weight: bold;
	padding: 5%;
}

img {
	width: 100%;
	margin-top: 20px;
}

h3 {
	text-align: center;
	margin: 2%;
}

table,
th,
tr,
td {
	color: #999;
	width: 100%;
	border: 1px solid #faf0f9;
	text-align: center;
	padding: 10px;
	border-spacing: 5px;
	border-collapse: collapse;
	margin-top: 5%;
}

tr:nth-child(2n+2) {
	background-color: #f2f2f2;
}

th {
	background-color: #dddddd;
	color: #fff;
	padding: 15px;
}


.radiobuttons {
	text-align: center;
	width: 100%;
	
}


form {
	border: 0px solid red;
	color: #555;
	width: 80%;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #fffef3;
	padding: 10%;
}

textarea {
	width: 90%;
	height: 150px;
	padding: 5%;
	margin: 5% auto;
	border: 0px;
	background-color: #f2f2f2;
	font-size: .870rem;
	resize: none;
}

label {
	display:  inline-block;
	padding: 3%;
	margin: 2% 0 0;
}

input[type=text],
select {
	display: block;
	
	width: 50%;
	padding: 12px 20px;
	margin: 5% auto ;
	border-radius: 5px;
	border: 2px solid #ccc;
	box-sizing: border-box;
}

.checkboxes {
	width: 100%;
	text-align: center;
}


button {
	display: block;
	text-align: center;
	width: 30%;
	margin: 5% auto;
	/*background-image: linear-gradient(#aef0b0, #84ee51);*/
	color: #fff;
	padding: 12px 20px;
	border: none;
	font-weight: 600;
	border-radius: 2px;
	cursor: pointer;
	transition: all .4s ease ;
	background: #fe6060;
}

button:hover {
	background: #ff3080;
 	/*	background-image: linear-gradient(#bef0a0, #a4ee51); */
}

footer p {
	margin: 20px 0 20px 0;
	text-align: center;
	color: #555;
	font-style: italic;
	font-size: .750rem;
	letter-spacing: 2px;
}


@media only screen and (max-width: 600px) {
	.main-container {
		width: 100%;
		padding: 0;		
	}
}
